.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    margin: 30px;
}

.lab-card {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.lab-card h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%; 
}


.lab-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* laboratory details */

.laboratory-details{
    padding: 30px 50px;
    font-family: var(--primary-font);
}

.laboratory-details h3 {
    margin: 20px 0;
    font-weight: bold;
}

.back-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    transition: color 0.2s;
    transition: background-color 0.2s ease;
    border-radius: 4px;
    padding: 6px 6px;
}
  
.back-button:hover {
    /* color: #0056b3; */
    background-color: rgba(25, 118, 210, 0.1);
}
  
.back-button svg {
    margin-right: 6px;
}

.equipments-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #2d2d2d;
    display: flex;
    align-items: center;
}
  
.equipments-icon {
    margin-right: 10px;
}

.equipment-table{
    background-color: white;   
    border-radius: 20px;
    width: 100%;
    border-collapse: collapse;
}

.equipment-table thead{
    background-color: #8b1e41;
    color: whitesmoke;
}
  