/* Table.css */

.table-container {
    padding: 40px 25px;
    background-color: white;
    /* border-radius: 15px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead,
tbody,
tfoot,
td,
th {
    border: none; 
    border-style: hidden !important;
}

td, th {
    padding: 10px;
}
thead{
    background: #8B1538;
    color: white;
}
tr:nth-child(even) {
    background-color: #f8f9fa;
  }

tr{
    transition: all ease 0.4s;
    border-bottom: #292929 !important;

}

tbody tr:hover{
    background-color: #eeeeee
}

button{
    margin: 0 5px;
    font-size: 14px;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.delete-btn{
    z-index: 2;
    background-color: #8B1538;
    color: white;
    transition: all ease 0.4s;
}

.delete-btn:hover{
    background-color: #a41a43;
}

/* User accounts table */
.tableTitle{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-btn{
    margin-right: 50px;
    border: 1px solid transparent;
    background-color: #8B1538;
    color: white;
    transition: all ease 0.4s; 
}

.add-btn:hover{
    /* color: #292929; */
    background-color: #a41a43;
}