/* ContactForm.css */

.contact-form {
  background-color: #fff;
  padding: 50px 35px !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contact-us {
  width: 100%;
  max-width: 1250px; 
  margin: 0 auto;
}

/*contact info*/
.contactInfo{
  margin-bottom: 15px;
  /* background-color: #e7e7e7; */
}

.contactInfo .info-item {
  padding: 30px 20px;
  height: 100%;
  /* border: 1px solid #ccc; */
}

.contactInfo .info-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: #fff;
  background: #eec035;
  border-radius: 50%;
  margin-right: 15px;
}

.contactInfo .info-item h4 {
  font-weight: 400;
  margin: 0 0 5px 0;
  font-family: 'Poppins';
}

.contactInfo .info-item p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-family: 'Quicksand';
  font-size: 13px;
}

/*contact form*/
.contact-us .contact-form{
  padding: 25px 0;
}

.contact-us .form-control {
  padding: 25px 15px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-bottom: 2rem; 
  border-radius: 0;
  transition: all 0.3s ease;
}

.contact-us .form-control:focus {
  border-color: #ccc; 
  box-shadow: 0 0 5px rgba(41, 41, 41, 0.3);
}

/* .contact-us .form-label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
} */

.contact-us .primary-button {
  margin: 0 auto;
  display: block;
}

.contact-us .form-control[as="textarea"] {
  resize: vertical; 
}

.location{
  margin-top: 25px; 
}

.location iframe{
  border: 1 solid #6e1214;
}

/* message status when try to submit message */
.message-status {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.message-status.success {
  color: #289842;
}

.message-status.error {
  background-color: #f8d7da;
  color: #721c24;
}



