/* Modal.css */
.modal-overlay {
    font-family: var(--primary-font);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 450px; 
}
.modal-body p{
    color: black;
}

.modal-header {
    margin-bottom: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-content button {
    margin-top: 10px;
    font-size: 13px;
    padding: 7px 12px;
    margin-right: 10px;
    border: transparent;
}