body{
    background-color: #f7f3f9;
}

.dashHeader{
    /* height: 100px; */
    position: relative;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px;
    box-shadow: 4px 0px 7px rgba(0, 0, 0, 0.4);;
}

/* notification */

.notification-icon{
    color: rgb(82, 82, 82);
    transition: all ease 0.5s;
}

.notification-icon:hover{
    color: #8b1e41;
}

.notification-icon {
    cursor: pointer;
}

.notifications-dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 10px;
    z-index: 100;
}

.notifications-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notifications-dropdown li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.notifications-dropdown li:last-child {
    border-bottom: none;
}

.notifications-dropdown li:hover {
    background-color: #f0f0f0;
}


/* UserAccount */
.add-account-form{
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

.add-account-form input, .add-account-form select{
    border: solid 1px #171717;
    margin: 10px;
    font-size: 13px;
    padding: 10px;
}

li.side-btn:active, li.side-btn:focus, li.side-btn.active {
    background-color: #8b1e41 !important;
    color: white;

}

/* Or if you want to add a selected state */
li.side-btn.selected {
    background-color: #bababa !important;
}

.greeting {
  font-size: 20px;
  font-weight: 600;
  color: #8b1e41;
  text-shadow: 0 1px 1px rgba(0,0,0,0.05);
  letter-spacing: 0.3px;
}