.admin-container {
    display: flex;
    flex-wrap: nowrap;
}
  
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #6e1214;
    color: white;
    padding-top: 20px;
    position: fixed;
    z-index: 10001;
}
  
.sidebar-navbar {
    margin: 0 auto;
    color: #ffffff !important;
    margin-bottom: 30px;
}

.sidebar-navbar h5{
    /* margin: 0 auto; */
    padding: 0 20px;
}
  
.sidebar-nav .nav-link {
    color: #ffffff !important;
    padding: 7px 20px;
    transition:  all ease 0.4s;
}
  
.sidebar-nav .nav-link:hover {
    background-color: #eec035;
    color: #8e1537;
}

.sidebar-nav .nav-link.active {
    background-color: #eec035; 
    color: #8e1537;
}

.main-content {
    margin-left: 250px;
    z-index: 999;
    flex-grow: 1;
    background-color: #ecf0f1;
}
  
.adminHeader {
    box-shadow: 4px 0px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
	padding: 40px;
	background-color: rgb(255, 255, 255);
	color: #6e1214;
	top: 0;
	z-index: 1000; 
	box-sizing: border-box;
}
  
.adminHeader h1 {
    color: #2c3e50;
}

.header-actions{
    display: flex;
}
  
.header-actions button{
    margin-left: 15px;
    background-color: none;
}
  
/* profile button*/
.profile-pic {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
}
  
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px #6e1214;
}
  
/* notification button*/
.notification-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    color: #6e1214 !important;
    transition: all 0.3s ease;
    border: 1px solid transparent !important;
}
  
.notification-btn:hover{
    color: #eec035 !important;
}

/* dynamic dashboard */

.dashboard-sections{
    min-height: 85vh;
}
  
.dashboard-sections h3 {
    font-weight: 500 !important;
    font-family: 'Poppins';
    margin: 25px;
}
  
.dashboard-overview .card {
    flex: 1;
    border-radius: 0;
}
  
.dashboard-overview .card-body {
    text-align: center;
}

.dashboard-overview .card-title{
    font-size: 14px;
}

.dashboard-overview .card-text{
    font-size: 30px;
    font-weight: bold;
}

/* stat */
.dashboard-statistics .card {
    height: 100%;
    border-radius: 0;
}

.dashboard-statistics .card-body {
    padding: 20px;
}

/* requests*/

.request_table{
    font-size:  14px;
    font-family: 'Quicksand';
    border-radius: 20px;
    /* box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.2); */
    /* padding: 50px !important; */
}

.request_table td,
.request_table th {
  padding: 10px; 
}

.table-rounded {
    border-radius: 15px;
    overflow: hidden; 
}


/* responsiveness */
@media (max-width: 768px) {
    .admin-container {
      flex-direction: column;
    }

    .main-content{
        margin-top: 320px;
        margin-left: 0;
    }
  
    .sidebar {
      width: 100%;
      height: 320px;
    }
  
    .header-actions button {
      margin-left: 0;
      margin-top: 10px;
    }
}
  