body{
    background-color: #f7f3f9;
}

.dashHeader{
    height: 80px;
    background-color: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* UserAccount */

.add-account-form{
    display: flex;
    flex-direction: column;
}