/* EventCalendar.css */
.event-calendar-container {
	max-width: 1250px;
	padding: 50px;
	background-color: white;
	/* border-radius: 18px; */
	margin: 20px auto;
	border: 1px solid rgb(217, 217, 217);
}

.rbc-event {
	background-color: #6e121430 !important;
	color: #8e1537!important;
	border-radius: 0 !important;
	padding: 5px;
	font-size: 12px;
	left: 0% !important;
	border: 0 !important;
	width: 100% !important;
	border-left: 7px solid #8e1537 !important;
}

/* .rbc-toolbar {
	background-color: #0066cc;
	color: white;
	border-radius: 8px;
} */

.rbc-off-range-bg {
	background-color: white;
}

.rbc-show-more {
	color: #8e1537;
}

.rbc-show-more:hover {
	color: #8e1537;
}

.rbc-current-time-indicator {
	background: none;
}

.rbc-header + .rbc-header {
	border-left: 0;
}

.rbc-header {
	font-weight: 500 !important;
	background-color: #eaf6ff;
}

.rbc-month-view {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

.rbc-selected {
	background-color: #8e1537 !important;
	color: white !important;
}

.event-content {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}

/* Custom toolbar css */
.custom-toolbar {
	display: flex;
	justify-content: space-between; /* Distribute space between left, center, and right */
	align-items: center;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
}

.custom-toolbar .today-button {
	flex: 1;
}

.custom-toolbar .navigate-prev,
.custom-toolbar .navigate-next {
	flex: 0; /* Prevent arrows from stretching */
	font-size: 20px;
	cursor: pointer;
}

.custom-toolbar .month-label {
	font-weight: bold;
	font-size: 16px;
	flex: 1; /* Allow month label to take available space */
	text-align: center; /* Center the month label */
}

.view-switcher-wrapper {
	display: flex;
	justify-content: flex-end; /* Align buttons to the right */
	flex: 1;
}

.view-switcher {
	display: flex; /* Flexbox layout */
	flex-direction: row-reverse; /* Align buttons from right to left */
	gap: 10px; /* Spacing between buttons */
}

.custom-toolbar button {
	background-color: #8e1537;
	color: white;
	border: none;
	padding: 8px 16px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.custom-toolbar button:hover {
	background-color: #eec035;
}

.custom-toolbar button.active {
	background-color: #eec035;
}

.custom-toolbar button:active{
	background-color: #eec035;
}

.rbc-agenda-view table.rbc-agenda-table td {
	background-color: white;
	color: black;
}
