/* Home content styling */
.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

/* Background image container */
.home-bg {
	position: relative;
	width: 100%;
	height: 87vh;
	display: flex;
	align-items: center;
	justify-content: flex-start; /* Align text to the left */
	padding-left: 5%; /* Adds spacing between text and screen edge */
	overflow: hidden;
	background: url('../assets/home_bg.jpg') no-repeat center center fixed; /* Set fixed background */
	background-size: cover; /* Cover the entire area */
}

.home-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top right, 
		rgba(142, 21, 55, 0.75) 20%,   
		rgba(90, 39, 119, 0.7) 45%, 
		rgba(218, 129, 60, 0.5) 75%,  
		rgba(255, 204, 53, 0.5) 100% 
	);

}

.home-background > * {
    position: relative;
    z-index: 2; 
}

/* Text styling positioned to the left */
.home-text {
	position: relative;
	color: white;
	text-align: left; 
	z-index: 1;
	max-width: 750px;
	padding: 70px;
}

.home-text h1{
	font-family: 'Poppins';
	font-weight: 500;
	margin-bottom: 20px;
	font-size: 38px;
}

.home-text p{
	font-size: 14px;
	font-weight: 500;
	font-family: 'Quicksand';
}

.banner-button{
	margin-top: 6px;
}

/* section */
section{
	width: 100%;
	/* margin: 20px 0; */
	padding: 30px 50px;
}

.sectionTitle{
	margin-top: 20px;
	margin-bottom: 35px;
}

.sectionTitle h6{
	text-align: center;
	font-size: 14px;
}

.sectionTitle h2{
	text-align: center;
	font-weight: 500;
	font-family: 'Poppins';
}

/* Services Section */
.servicesSection {
	/* border: 1px solid black; */
	text-align: center; 
	padding: 20px 0 10px;
}

.services-container {
	text-align: left;
	text-align: justify;
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	gap: 25px; 
	max-width: 1200px; 
	margin: 0 auto; 
}

.service-card {
	background-color: #c87bee;
	padding: 35px 25px;
	font-size: 50px;
	transition: all ease 0.5s;
}

.service-card:hover{
	transform: translateY(-5px);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}

.icon-container{
	text-align: center;
}

.services-icon{
	margin: 25px 0;
	color: white;
}

.service-card h3 {
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	font-family: 'Poppins';
	color: #ffffff;
}

.service-card p {
	font-size: 14px;
	color: #ffffff;
	font-family: 'Quicksand';
	text-align: justify;
}

/* News Section */
.newsSection {
	/* border: 1px solid black; */
    max-width: 1400px;
	margin-bottom: 20px;
}

.news-item {
	/* border: 1px solid #ccc; */
	padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	/* box-shadow: 0 0 5px 5px rgba(108, 108, 108, 0.1); */
}

.news-image-container {
    width: 450px;
}

.news-image {
    width: 100%;
    height: auto;
}

.news-text-container {
	text-align: justify;
    flex: 2;
    padding-left: 50px;
}

.news-title {
	margin-top: 40px;
	font-family: 'Poppins';
    font-weight: bold;
}

.news-date{
	font-size: 12px;
	color: #888;
	padding: 10px 0;
}

.news-description {
	font-size: 14px;
    color: #666;
}

.read-more{
	margin-top: 20px;
	max-width: 140px;
}

/*news section flexibility*/
@media (max-width: 767px) {
    .news-item {
        flex-direction: column;
        align-items: center;
    }

    .news-text-container {
        padding-left: 0;
    }

    .news-image-container {
        margin-bottom: 20px;
    }
}

.statisticCounter {
    position: relative; 
    z-index: 1; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    background: url('../assets/stat_counter.jpg') no-repeat center center fixed; 
    background-size: cover; 
	padding: 80px 0 !important;
	margin-top: 25px;
}

/* Gradient Overlay */
.statisticCounter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top right, 
        rgba(142, 21, 55, 0.8) 15%,   
        rgba(108, 51, 141, 0.8) 45%, 
        rgba(218, 129, 60, 0.8) 70%,  
        rgba(255, 204, 53, 0.8) 100% 
    );
    z-index: 0; 
}