/* CSS for the scroll-to-top button */
.scroll-to-top {
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%); /* Centers the button horizontally */
	z-index: 1000;
}

.scroll-button {
	background-color: rgba(0, 0, 0, 0.2);
	width: 30px;
	height: 30px;
	border-radius: 50%; /* Makes the button circular */
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
}

.scroll-button:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.arrow-icon {
	color: white;
	font-size: 16px;
}

@media (max-width: 768px) {
	.scroll-button {
		width: 40px; /* Smaller button for mobile */
		height: 40px;
	}

	.arrow-icon {
		font-size: 16px;
	}
}
