.services p, .services li{
	font-size: 16px;
	font-family: var(--secondary-font);
}

.services-banner {
	position: relative;
	width: 100%;
	height: 17vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: linear-gradient(
			to right,
			rgba(110, 18, 20, 0.844) 15%,
			rgba(108, 51, 141, 0.75) 45%,
			rgba(218, 129, 60, 0.7) 75%,
			rgba(255, 204, 53, 0.6) 100%
		),
		url('../assets/pagebanner.png');
	background-size: cover;
}

.services-text{
    text-align: center;
}

.services-text h1 {
	font-size: 36px;
	font-family: var(--primary-font);
	color: #ffffff;
	margin-top: 12px;
}

.services-text p {
	font-size: 16px;
	color: #ffffff;
}

.services-content{
	margin: 0 30px;
}

.services-content h3{
	margin-top: 35px;
	margin-bottom: 15px;
}

.services-content h4{
	margin-top: 35px;
}