.service-page {
    display: flex;
	flex-direction: column;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
	overflow: hidden;
}

.service-banner{
    position: relative;
    width: 100%;
	height: 20vh;
	display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right, 
		rgba(110, 18, 20, 0.844) 15%,   
		rgba(108, 51, 141, 0.75) 45%, 
		rgba(218, 129, 60, 0.7) 75%,  
		rgba(255, 204, 53, 0.6) 100% 
	);
    background-size: cover;
}

.service-text h1 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
}

.service-text p {
    font-size: 16px;
    color: #6e1214;
}

.service-cards {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    gap: 20px; /* Add spacing between the cards */
    align-items: center; /* Center cards horizontally */
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.service-card {
    width: 66.66%;
    max-width: 800px;
    height:auto;
    /* align-items: center;
    justify-content: space-between; */
    background-color: #b763e1b3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    transition: transform 0.3s;
    display: block;
}

/* .service-card:hover {
    transform: translateY(-5px);
} */

.service-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.service-description {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.service-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.service-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

/* Responsive Design */
/* @media (max-width: 1000px) {
    .service-card {
        flex-direction: column;
        text-align: center;
    }
    .service-image img {
        max-width: 100%;
        margin-top: 10px;
    }

} */
