/*set font as poppins*/
:root {
  --primary-color: #8e1537; 
  --secondary-color: #eec035;
}

:root {
  --primary-font: 'Quicksand', sans-serif;
}

/* pls use these to minimize the code and for consistency*/
body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}

/* buttons */
button{
    cursor: pointer;
}

button.primary-button{
    padding: 8px 25px;
    border-radius: 5rem;
    border: none;
    color: white;
    background-color: var(--primary-color);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

button.primary-button:hover{
    color: #8e1537;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
    border: none;
}

button.primary-button:focus{
    color: white;
    background-color: #eec035 !important;
}

button.secondary-button{
    padding: 8px 25px;
    border-radius: 5rem;
    border: 1px solid transparent;
    color: var(--primary-color);
    background-color: white;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

button.secondary-button:hover{
    color: #8e1537;
    background-color: var(--secondary-color);
}

button.secondary-button:focus{
    color: white;
    background-color: #eec035 !important;
}
  
